.posts {
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  top: 75px;
  left: 0;
  width: 100%;
  height: calc(100% - 75px);
  z-index: 1000000;
  background-color: #222;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity .5s ease;
}
